@charset 'utf-8';

// 변수

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #888;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

$html-fs : 14px;

html {
    font-size: $html-fs;
    overflow-x: hidden;
    background-color: #202025;
}



body {
    font-family: 'NanumSquare', 'Malgun Gothic', '맑은 고딕', "돋움", Verdana, sans-serif;

    line-height: 1.6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    letter-spacing: -0.5;
    color: #ddd;
    background-color: #202025;
    transition: background-color .3s;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    margin: 50px auto;
    padding: 5% 15%;
}
#app {
    padding: 5%;
    text-align: center;
}
.header {
    margin-bottom: 100px;
    .logo {
        font-size: 3rem;
        color: #fff;
    }
}
#city {
    background-color: transparent;
    width: 50%;
    max-width: 300px;
    border: 0;
    color: #fff;
    font-size: 2rem;
    border-bottom: 2px solid #888;
}
.search-form {
    display: flex;
    justify-content: center;
}
.search {
    bottom: 0;
    border: 0;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background:url('/src/assets/search.png')no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.result-wrap {
    .info-wrap {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    .info-box {
        margin-bottom: 20px;
        span {
            display: block;
            font-size: 1.2rem;
        }
        em {
            font-size: 1.5rem;
        }
    }
    #result {
        font-size: 2rem;
        margin: 20px 0;
    }
    #feel-temp {}
    #temp {}
}