@charset 'utf-8';

// 변수

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #888;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

$html-fs : 14px;

html {
    font-size: $html-fs;
    overflow-x: hidden;
    background-color: #202025;
}



body {
    font-family: 'NanumSquare', 'Malgun Gothic', '맑은 고딕', "돋움", Verdana, sans-serif;

    line-height: 1.6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    letter-spacing: -0.5;
    color: #ddd;
    background-color: #202025;
    transition: background-color .3s;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    margin: 50px auto;
    padding: 5% 15%;
}
#app {
    padding: 5%;
    text-align: center;
}
.header {
    .logo {
        font-size: 3rem;
        color: #fff;
    }
}
.result-wrap {
    
    #result {}
    #feel-temp {}
    #temp {}
}